.mySwiper {
  /* border: solid 1px; */
  background-color: var(--background-color);
}

.swiper {
  width: 100%;
  /* height: 500px; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  color: var(--main-color);
  background-color: var(--background-color);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev {
  color: var(--link-color);
}

.swiper-button-next {
  color: var(--link-color);
}
